body{
    min-height: 100vh;
    background: url(bg.jpg) center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    color: white;
    text-align: center;
    font-size: 150px;
    margin-top: 150px
    
}
#grettMessage{
    color: white;
    text-align: center;
    
}
#addCount ,#lowerCount {
    padding: 10px;
}
#addCount{
    margin-left: 100px;
    
}